* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    padding: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #515A5A
}    

.hero-image {
    width: 100%;
    height: 300px;
}

.header h1 {
    display: inline-block;
    font-size: 48px; color: white;
}

.header nav {
    padding-top: 0px;
    margin-right: 20px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px; color: white;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

body {
    background-color: #FFEBEE
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50vh;
    margin-left: 300px;
    margin-top: -20px;
    border-style: solid;
    border-width: 2px; color:#FFEBEE;
}

.refactor {
    display: block;
    width: 70%;
    margin-left: 300px;
    border-style: solid;
    border-width: 2px; color:#FFEBEE;
}

.refactor img {
    width: 100%;
    height: 500px;
}

.project {
    flex: 1 0 0 
    padding: 10px;
    width: 375px;
    height: 250px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

.container {
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}    

.text-block {
    position: relative;
    bottom: 80px;
    left: 20px;
    background-color: white;
    color: black;
    text-align: left;
    margin-right: 180px;
}

.project img {
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about-me {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px; color: #515A5A;
    
 }

.work {
    padding-top: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px; color:#515A5A; 
}

.contact-me {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px; color: #515A5A;
}

.contact-me ul li {
    display:inline-block;
    margin-left: 125px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-decoration-line: underline;
}

p {
    margin-left: 300px;
    font-size: 20px
}

.footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; color:#515A5A;
}

@media screen and (max-width: 768px) {
    .main,
    .nav {
      flex-direction: column;
}

/* HEN I am presented with the developer's name, a recent photo or avatar, and links to sections about them, their work, and how to contact them
 WHEN I click one of the links in the navigation THEN the UI scrolls to the corresponding section WHEN I click on the link to the section about their work THEN the UI scrolls to a section with titled images of the developer's applications
 WHEN I am presented with the developer's first application
 THEN that application's image should be larger in size than the others
 WHEN I click on the images of the applications THEN I am taken to that deployed application WHEN I resize the page or view the site on various screens and devices THEN I am presented with a responsive layout that adapts to my viewport */